<ion-header>
  <ion-toolbar>
    <ion-title>{{ location ? 'Cadastrar brechó' : brecho.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!location">
  <ion-item>
    <ion-label>Site</ion-label>
    <a [href]="brecho.site">{{ brecho.site }}</a>
  </ion-item>
  <ion-item>
    <ion-label>Instagram</ion-label>
    <a [href]="'https://www.instagram.com/' + brecho.instagram">@{{ brecho.instagram }}</a>
  </ion-item>
  <ion-item *ngFor="let contact of brecho.contacts">
    <ion-label>{{ contact.type | contactType }}</ion-label>
    {{ contact.value }}
  </ion-item>
  <ion-item>
    <ion-label position="floating">Custo médio</ion-label>
    <ion-grid>
      <ion-row>
        <ion-icon
          [color]="this.brecho.averageCost >= i ? 'warning' : ''"
          *ngFor="let avegareCost of avegareCosts; index as i"
          name="logo-usd"
        ></ion-icon>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-content *ngIf="location">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="brecho.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Site</ion-label>
      <ion-input [(ngModel)]="brecho.site"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Instagram</ion-label>
      <ion-input [(ngModel)]="brecho.instagram"></ion-input>
    </ion-item>
    <ion-grid *ngFor="let contact of contacts; index as i">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Contato</ion-label>
            <ion-input (keyup)="setContact($event.target.value, 'value', i)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Tipo do contato</ion-label>
            <ion-select (ionChange)="setContact($event.detail.value, 'type', i)">
              <ion-select-option *ngFor="let contactType of contactTypes" [value]="contactType">{{
                contactType | contactType
              }}</ion-select-option>
            </ion-select>
            <ion-button
              *ngIf="i > 0"
              fill="clear"
              (click)="removeContact(i)"
              slot="end"
              style="z-index: 100"
            >
              <ion-icon color="danger" slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-button (click)="addNewContact()">
        + Contato
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Custo médio</ion-label>
      <ion-grid>
        <ion-row>
          <ion-icon
            [color]="this.brecho.averageCost >= i ? 'warning' : ''"
            *ngFor="let avegareCost of avegareCosts; index as i"
            (click)="setAvgCost(i)"
            name="logo-usd"
          ></ion-icon>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button slot="end" *ngIf="location" (click)="saveBrecho()">
    <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
    <ion-text *ngIf="!isLoading">Salvar</ion-text>
  </ion-button>
  <ion-button slot="end" (click)="dismiss()">{{ location ? 'Cancelar' : 'Ok' }}</ion-button>
</ion-footer>
