<div id="map_canvas">
  <!-- <ion-searchbar placeholder="Pequisar brechó"></ion-searchbar> -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="centerCameraToMe()" color="light" size="small" translucent="true">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
